@import url("./scss/slider.css");
@import url("./scss/header.css");
@import url("./scss/footer.css");
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

:root {
  font-size: 1em;
}

@media (max-width: 767px) {
  :root {
    font-size: calc(3px + 22.1 * ((100vw - 320px) / 1440));
  }
}

@media (min-width: 767px) {
  :root {
    font-size: calc(3px + 13 * (100vw / 1440));
  }
}

main .main__body {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .main__body__container {
  margin: 52px 0 0 0;
}

main .main__body__container h2 {
  padding: 0 0 0 5%;
  font-style: normal;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 140.02%;
  color: #19191A;
}

main .main__body__container .discription {
  margin: 9.16667% 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 20px;
}

main .main__body__container .discription__text {
  height: 632px;
  padding: 0 10% 0 11.38889%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main__body__container .discription__text h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 131.84%;
  color: #202222;
  margin: 0 0 4.43038% 0;
}

main .main__body__container .discription__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  color: #19191A;
}

main .main__body__container .aboutProduction {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 659px;
}

main .main__body__container .aboutProduction img {
  max-width: 100%;
}

main .main__body__container .aboutProduction__text h4 {
  padding: 0 5% 0 6.11111%;
  margin: 5% 0 1.11111% 0;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 140.02%;
  color: #202222;
}

main .main__body__container .aboutProduction__text p {
  padding: 0 5% 0 6.11111%;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 127.84%;
  color: #202222;
}

main .main__body__container .experience {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  width: 100%;
  height: 1107px;
}

main .main__body__container .experience .backImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../imges/fon.png") top/cover no-repeat;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 /1 /3 /2;
}

main .main__body__container .experience .backImg img {
  width: 100%;
}

main .main__body__container .experience .backImg h3 {
  padding: 6.50407% 5% 0 6.11111%;
  font-style: normal;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 84.52%;
  letter-spacing: -0.025em;
  color: #202222;
}

main .main__body__container .experience .advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main__body__container .experience .advantages .card {
  padding: 3.25203% 13.88889% 0 11.11111%;
}

main .main__body__container .experience .advantages .card img {
  margin: 0 0 12.46612% 0;
  width: 22.91667%;
}

main .main__body__container .experience .advantages .card h4 {
  margin: 0 0 4.15537% 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 95.84%;
  letter-spacing: -0.025em;
  color: #202222;
}

main .main__body__container .experience .advantages .card small {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #727272;
}

main .main__body__container .experience .forma {
  padding: 13.00813% 20% 18.06685% 20%;
  background: rgba(32, 34, 34, 0.88);
}

main .main__body__container .experience .forma h2 {
  padding: 0;
  margin: 0 0 2.71003% 0;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 95.84%;
  letter-spacing: -0.025em;
  color: #FFFFFF;
}

main .main__body__container .experience .forma h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 95.84%;
  letter-spacing: -0.025em;
  color: #FFFFFF;
}

main .main__body__container .experience .forma form {
  margin: 5.05872% 0 0 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main__body__container .experience .forma form label {
  margin: 0 0 1.44535% 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 110.02%;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

main .main__body__container .experience .forma form input {
  margin: 0 0 18px 0;
  height: 38px;
}

main .main__body__container .experience .forma form span {
  text-decoration: underline;
}

main .main__body__container .experience .forma form .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.77778%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main__body__container .experience .forma form .box .check {
  margin: 0;
}

main .main__body__container .experience .forma form button {
  margin: 5.60072% 0 0 0;
  width: 162px;
  height: 56px;
  background-color: #1FBAD1;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

main .main__body__container .reasons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  height: 504px;
}

main .main__body__container .reasons__left {
  background-color: rgba(32, 34, 34, 0.88);
}

main .main__body__container .reasons__left h3 {
  padding: 10.31746% 0 0 10%;
  font-style: normal;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 84.52%;
  letter-spacing: -0.025em;
  color: #FFFFFF;
}

main .main__body__container .reasons__right {
  padding: 10.31746% 0 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

main .main__body__container .reasons__right .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 50%;
      grid-template-columns: 15% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 4.44444%;
}

main .main__body__container .reasons__right .card .number {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 /1 /3 / 2;
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 76px;
  color: #202222;
}

main .main__body__container .reasons__right .card h5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 /2 /2 /3;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 95.8%;
  color: #202222;
}

main .main__body__container .reasons__right .card small {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 /2 /3 /3;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #202222;
}

main .main__body__container .cometoclient {
  margin: 72px 0 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140.02%;
  color: #202222;
}

main .main__body__container .forClients {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  height: 784px;
}

main .main__body__container .forClients .slider__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main__body__container .forClients .slider__info {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main__body__container .forClients .slider__info h3 {
  margin: 0 0 4.44444% 0;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 104.02%;
  letter-spacing: -0.025em;
  color: #202222;
}

main .main__body__container .forClients .slider__info .slide__item .info {
  margin: 4.08163% 0 4.08163% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5.55556%;
}

main .main__body__container .forClients .slider__info .slide__item .info div h4 {
  margin: 0 0 1.02041% 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 95.84%;
  color: #202222;
}

main .main__body__container .forClients .slider__info .slide__item .info div small {
  width: 9.72222%;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #727272;
}

main .main__body__container .forClients .slider__info .slide__item .moreInfo {
  margin: 4.08163% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main__body__container .forClients .slider__info .slide__item .moreInfo .city h4 {
  margin: 0 0 16px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 26px;
  color: #727272;
}

main .main__body__container .forClients .slider__info .slide__item .moreInfo .city small {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 24px;
  color: #202222;
}

main .main__body__container .forClients .slider__info .slide__item .moreInfo img {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main .main__body__container .forClients .slider__info .btn {
  margin: 21.68367% 0 0 0;
  border: none;
  width: 162px;
  height: 56px;
  background-color: #1FBAD1;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  main .main__body__container .forClients .slider__info .btn {
    font-size: calc(20px + 0 * ((100vw - 320px) / 1440));
  }
}

@media (min-width: 767px) {
  main .main__body__container .forClients .slider__info .btn {
    font-size: calc(20px + 0 * (100vw / 1440));
  }
}

main .main__body__container .applicationForm {
  background: url("../imges/Rectangle 551.png") top/cover no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  max-height: 876px;
}

main .main__body__container .applicationForm .applicationForm__left {
  padding: 8.21918% 0 0 10%;
  color: white;
}

main .main__body__container .applicationForm .applicationForm__left h4 {
  margin: 0 19.44444% 3.19635% 0;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 112.02%;
  color: #FFFFFF;
}

main .main__body__container .applicationForm .applicationForm__left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main__body__container .applicationForm .applicationForm__left form label {
  margin: 0 0 8px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 110.02%;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

main .main__body__container .applicationForm .applicationForm__left form input {
  margin: 0 0 20px 0;
  width: 70%;
  height: 38px;
}

main .main__body__container .applicationForm .applicationForm__left form textarea {
  width: 70%;
  height: 262px;
}

main .main__body__container .applicationForm .applicationForm__left form span {
  text-decoration: underline;
}

main .main__body__container .applicationForm .applicationForm__left form .box {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main__body__container .applicationForm .applicationForm__left form .box .check {
  margin: 0;
  width: 24px;
}

main .main__body__container .applicationForm .applicationForm__left form button {
  margin: 31px 0 0 0;
  width: 162px;
  height: 56px;
  background-color: #1FBAD1;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 600px) {
  main .main__body__container .discription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    height: 400px;
  }
  main .main__body__container .discription__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 10% 0 3.125%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main__body__container .discription__text h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 131.84%;
    color: #202222;
    margin: 0 0 4.43038% 0;
  }
  main .main__body__container .discription__text p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: #19191A;
  }
  main .main__body__container .experience {
    height: 620px;
  }
  main .main__body__container .experience .forma form button {
    width: 80px;
    height: 26px;
  }
  main .main__body .reasons {
    height: 350px;
  }
  main .main__body .reasons__right {
    gap: 10px;
  }
  main .main__body .reasons__right .card {
    -ms-grid-rows: 30% 25%;
        grid-template-rows: 30% 25%;
  }
  main .main__body .reasons__right .card small {
    line-height: 10px;
  }
  main .main__body .forClients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 784px;
    width: 600px;
  }
  main .main__body .forClients .slider__img {
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .main__body .forClients .slider__info {
    padding: 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 600px;
  }
  main .main__body .forClients .slider__info h3 {
    margin: 0 0 4.44444% 0;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 104.02%;
    letter-spacing: -0.025em;
    color: #202222;
  }
  main .main__body .forClients .slider__info .slide__item .info {
    margin: 4.08163% 0 4.08163% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5.55556%;
  }
  main .main__body .forClients .slider__info .slide__item .info div h4 {
    margin: 0 0 1.02041% 0;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 95.84%;
    color: #202222;
  }
  main .main__body .forClients .slider__info .slide__item .info div small {
    width: 9.72222%;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #727272;
  }
  main .main__body .forClients .slider__info .slide__item .moreInfo {
    margin: 4.08163% 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .main__body .forClients .slider__info .slide__item .moreInfo .city h4 {
    margin: 0 0 16px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 26px;
    color: #727272;
  }
  main .main__body .forClients .slider__info .slide__item .moreInfo .city small {
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 24px;
    color: #202222;
  }
  main .main__body .forClients .slider__info .slide__item .moreInfo img {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  main .main__body .forClients .slider__info .btn {
    margin: 21.68367% 0 0 0;
    border: none;
    width: 162px;
    height: 56px;
    background-color: #1FBAD1;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }
}

@media (max-width: 600px) and (max-width: 767px) {
  main .main__body .forClients .slider__info .btn {
    font-size: calc(20px + 0 * ((100vw - 320px) / 1440));
  }
}

@media (max-width: 600px) and (min-width: 767px) {
  main .main__body .forClients .slider__info .btn {
    font-size: calc(20px + 0 * (100vw / 1440));
  }
}

@media (max-width: 600px) {
  main .main__body .applicationForm {
    display: block;
    width: 100%;
    max-height: 876px;
  }
}
/*# sourceMappingURL=style.css.map */