header {
  font-family: 'Montserrat', sans-serif;
}

header .header__body {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header .header__body__container .menu .menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 0 22px 0;
}

header .header__body__container .menu .menu__body .curs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #202222;
  gap: 10px;
  padding: 10px 20px;
}

header .header__body__container .menu .menu__body .curs div:nth-child(2) {
  font-size: 10px;
}

header .header__body__container .menu .menu__body .curs div {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  color: #202222;
}

header .header__body__container .menu .menu__body .curs div span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

header .header__body__container .menu .menu__body .curs div span::before {
  content: ">";
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 10px;
}

header .header__body__container .menu .menu__body .numberPhone {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  color: #1FBAD1;
}

header .header__body__container .menu .menu__body .btmApplicate {
  padding: 14px 20px;
  background-color: #1FBAD1;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

header .header__body__container .menu .menu__body .lenguage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

header .header__body__container .menu .menu__body .lenguage::after {
  content: ">";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 10px;
}

header .header__body__container .previw {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 35% 20%;
      grid-template-columns: 45% 35% 20%;
  -ms-grid-rows: 60% 40%;
      grid-template-rows: 60% 40%;
  height: 950px;
}

header .header__body__container .previw .previw__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 9% 0 9%;
}

header .header__body__container .previw .previw__text h1 {
  margin: 0 0 6.73684% 0;
  font-style: normal;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 84.52%;
  letter-spacing: -0.025em;
  color: #202222;
}

header .header__body__container .previw .previw__text p {
  margin: 0 0 6.73684% 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 131.84%;
  color: #202222;
}

header .header__body__container .previw .previw__text button {
  border: none;
  max-width: 227px;
  padding: 16px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background: #1FBAD1;
}

header .header__body__container .previw .carImg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 /2 /2/ 4;
}

header .header__body__container .previw .carImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

header .header__body__container .previw .sea img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

header .header__body__container .previw .slider__advantages {
  background: #202222;
  color: white;
}

header .header__body__container .previw .slider__advantages .slider__item {
  padding: 36px 36px 0 36px;
}

header .header__body__container .previw .slider__advantages .slider__item h3 {
  margin: 0 0 60px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 131.84%;
}

header .header__body__container .previw .slider__advantages .slider__item p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 131.84%;
}

header .header__body__container .previw .lastImg {
  padding: 12.89474% 0 0 7.29167%;
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 131.84%;
  color: #FFFFFF;
}
/*# sourceMappingURL=header.css.map */